@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document url(chrome://browser/content/browser.xul), url(chrome://navigator/content/navigator.xul) {
	#personal-bookmarks .bookmarks-toolbar-items, #PlacesToolbarItems {
		display:-moz-box !important;
		-moz-box-pack:end !important;
	}
	#personal-bookmarks #PlacesToolbar #PlacesToolbarItems>box {
		display:-moz-box !important;
	}

	#personal-bookmarks {
		display:-moz-box !important;
	}
	#PlacesToolbar {
		display:-moz-box !important;
	}
}